#draggable { width: 100px; height: 40px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
#droppable, #droppable2 { width: 230px; height: 120px; padding: 0.5em; float: left; margin: 10px; }
#droppable-inner, #droppable2-inner { width: 170px; height: 60px; padding: 0.5em; float: left; margin: 10px; }

.level-global {
    min-height: 150px;
    padding: 0 20px;
    border: 1px dotted;
}

.level-visitor {
    min-height: 150px;
    background-color: #F5E1C2;
    margin: 20px 0;
    padding: 0 20px;
    border-left: 1px solid black;
}

.level-pageview {
    min-height: 150px;
    background-color: #A6D6AB;
    margin: 20px 0;
    padding: 0 20px;
    border-left: 1px solid black;
}

.level-location {
    min-height: 150px;
    background-color: #FFFFFF;
    margin: 20px 0;
    padding: 0 20px;
    border-left: 1px solid black;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.main {
    flex: 1 1;
}

.aside {
    flex: 0 0 230px;
}

#gallery {
    list-style: none;
}

.ui-widget-content {
    text-align: center;
}

.main .gallery li {
    float: none;
}

