@import "colors";
@import "variables";
@import "fonts";
@import "buttons";

$pill-height: 31px;

.query {
    margin-top: 5px;
    background-color: $white;
    border-radius: $dd-border-radius;
    box-shadow: 0 1px 3px 0 rgba(48, 53, 66, 0.3);
    &-area-title {
        font-size: 12px;
        font-weight: 700;
        .query-area-vitis & {
            margin-bottom: 15px;
        }
    }
    &-name {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        height: 34px;
        line-height: 34px;
        margin: 0;
        padding: 0 15px;
        border-bottom: 1px solid $border-color;
        justify-content: space-between;
    }
    &-content {
        font-size: 11px;
        min-height: 34px;
        padding: 10px 15px;
    }
}

.pills-bar {
    display: flex;
    width: 100%;
    height: $height-header;
    padding-right: 15px;
    background-color: $white;
    box-shadow: $shadow-apply-segments-bar;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 100ms ease-out;
    //top: $height-subheader;
    &-container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &-level {
        display: flex;
        height: 100%;
        padding: 0 15px;
        box-shadow: inset 1px 0 0 0 #dae2ef;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.25), rgba(197, 208, 222, 0.33));
        align-items: center;
    }
    &-edit {
        @include resetBtn;
        //font-size: 12px;
        //color: $text-dark;
        margin-left: auto;
    }
}

.pill {
    display: flex;
    height: $pill-height;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 15.5px;
    border: 1px solid $border-color;
    align-items: center;
    cursor: pointer;
    .location {
        text-align: center;
        font-size: 21px;
        color: $text-medium;
        width: $pill-height;
        height: $pill-height;
        line-height: $pill-height - 2px;
        margin-top: -1px;
        margin-right: 5px;
        margin-left: -1px;
        border: 1px solid $border-color;
        border-radius: 15.5px;
    }
    .icon-action {
        width: $pill-height;
        height: $pill-height;
        margin-top: -1px;
        margin-right: 5px;
        margin-left: -1px;
        border: 1px solid $border-color;
        border-radius: 15.5px;
        background: url("../assets/img/action.svg") no-repeat center;
    }
}

.results {
    &-area {
        width: 1308px;
        margin: 30px auto;
    }
    &-summary {
        font-size: 13px;
        margin-bottom: 30px;
        &-pageviews {
            @include resetH;
            &-included {
                font-size: 30px;
                font-weight: 600;
            }
            &-bold {
                font-weight: 600;
            }
        }
        &-visitors,
        &-visits {
            display: inline-block;
            margin-right: 40px;
        }
        .path-analysis,
        .shared {
            margin-right: 5px;
        }
    }
    &-graphs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &-card {
        margin: 5px auto;
        border-radius: $button-border-radius;
        background-repeat: no-repeat;
        background-position: top left;
        &.recordings {
            width: 1308px;
            height: 335px;
            background-image: url("../assets/img/recordings.png");
        }
        &.trend {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/trend.png");
        }
        &.errors {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/JSerrors.png");       }
        &.countries {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/trend.png");
        }
        &.browsers {
            width: 424px;
            height: 274px;
            background-image: url("../assets/img/browsers.png");
        }
        &.devices {
            width: 424px;
            height: 274px;
            background-image: url("../assets/img/devices.png");
        }
        &.engagement-time {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/engagementTime.png");
        }
        &.scroll-reach {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/scrollReach.png");
        }
    }
}

