@import "colors";
@import "variables";
@import "fonts";
@import "buttons";

$pill-height: 31px;

.query {
    display: flex;
    margin-top: 5px;
    padding: 0 45px 0 15px;
    flex-wrap: wrap;
    align-items: center;
    &-area-queries {
        margin-top: 5px;
        padding: 5px 0 10px 0;
        background-color: $white;
        border-radius: $dd-border-radius;
        box-shadow: 0 1px 3px 0 rgba(48, 53, 66, 0.3);
        position: relative;
        &:nth-child(2) .query-area-title{
            margin-top: 10px;
        }
        .open-search {
            position: absolute;
            top: 10px;
            right: 15px;
        }
    }
    &-area-visit {
        margin-bottom: 15px;
    }
    &-area-title {
        font-size: 12px;
        font-weight: 700;
    }
    &-name {
        font-weight: 600;
    }
    &-content {
        margin-left: 5px;
    }
    &-condition {
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 5px;
        padding-left: 15px;
        float: left;
    }
    &-group {
        .query-condition {
            margin-top: 0;
        }
        .query-condition:not(:first-child),
        .query:not(:nth-child(2)){
            margin-left: 106px;
            margin-top: 0;
            float: none;
        }
    }
}

.pills-bar {
    display: flex;
    width: 100%;
    height: $height-header;
    padding-right: 15px;
    background-color: $white;
    box-shadow: $shadow-apply-segments-bar;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 200ms ease-out;
    z-index: 1;
    &-container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &-level {
        display: flex;
        height: 100%;
        padding: 0 15px;
        box-shadow: inset 1px 0 0 0 #dae2ef;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.25), rgba(197, 208, 222, 0.33));
        align-items: center;
    }
    &-edit {
        @include resetBtn;
        margin-left: auto;
    }
    &-group-indicator {
        font-size: 16px;
        color: $text-medium;
        margin-left: 10px;
    }
}

.pill {
    display: flex;
    height: $pill-height;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 15.5px;
    border: 1px solid $border-color;
    align-items: center;
    cursor: pointer;
    .location {
        text-align: center;
        font-size: 21px;
        color: $text-medium;
        width: $pill-height;
        height: $pill-height;
        line-height: $pill-height - 2px;
        margin-top: -1px;
        margin-right: 5px;
        margin-left: -1px;
        border: 1px solid $border-color;
        border-radius: 15.5px;
    }
    .icon-action {
        width: $pill-height;
        height: $pill-height;
        margin-top: -1px;
        margin-right: 5px;
        margin-left: -1px;
        border: 1px solid $border-color;
        border-radius: 15.5px;
        background: url("../assets/img/action.svg") no-repeat center;
    }
}

.results {
    &-area {
        width: 1308px;
        margin: 30px auto;
    }
    &-summary {
        font-size: 13px;
        margin-bottom: 30px;
        &-pageviews {
            @include resetH;
            &-included {
                font-size: 30px;
                font-weight: 600;
            }
            &-bold {
                font-weight: 600;
            }
        }
        &-visitors,
        &-visits {
            display: inline-block;
            margin-right: 40px;
        }
        .path-analysis,
        .shared {
            margin-right: 5px;
        }
    }
    &-graphs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &-card {
        margin: 5px auto;
        border-radius: $button-border-radius;
        background-repeat: no-repeat;
        background-position: top left;
        &.countries {
            width: 424px;
            height: 274px;
            background-color: $white;
        }
        &-header {
            font-size: 16px;
            font-weight: 600;
            color: $text-dark;
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
            padding-right: 20px;
            border-bottom: 1px solid $silver-border;
        }
        &-body {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: calc(100% - 40px - 30px);
            &-btn {
                @include resetBtn;
                margin-right: 20px;
                margin-left: 20px;
                flex: 1 1;
                position: relative;
                &:not(:last-child) {
                    border-bottom: 1px solid $silver-border;
                }
                &-name {
                    display: block;
                    font-size: 10px;
                    text-align: left;
                    margin-right: 60px;
                }
                &-graph {
                    display: block;
                    width: 100%;
                    height: 5px;
                    margin-top: 10px;
                    margin-right: 60px;
                    background-image: url("../assets/img/contry_bar.png");
                    background-repeat: no-repeat;
                }
                &:hover {
                    .results-card-body-btn-graph {
                        background-image: url("../assets/img/contry_bar_hover.png");
                    }
                }
                &-percent {
                    display: flex;
                    width: 60px;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        &-footer {
            font-size: 10px;
            height: 30px;
            line-height: 30px;
            margin-left: 20px;
            margin-right: 20px;
            border-top: 1px solid $silver-border;
        }

        &.recordings {
            width: 1308px;
            height: 335px;
            background-image: url("../assets/img/recordings.png");
        }
        &.trend {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/trend.png");
        }
        &.errors {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/JSerrors.png");       }
        //&.countries {
        //    width: 315px;
        //    height: 274px;
        //    background-image: url("../assets/img/trend.png");
        //}
        &.browsers {
            width: 424px;
            height: 274px;
            background-image: url("../assets/img/browsers.png");
        }
        &.devices {
            width: 424px;
            height: 274px;
            background-image: url("../assets/img/devices.png");
        }
        &.engagement-time {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/engagementTime.png");
        }
        &.scroll-reach {
            width: 315px;
            height: 274px;
            background-image: url("../assets/img/scrollReach.png");
        }
    }
}

