@import "colors";
@import "variables";
@import "fonts";
@import "buttons";
@import "iconFont";

$aside-header-height: 104px;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: $text-dark;
    padding: 0;
    margin: 0;
    background-color: $bg-body;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, p {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

.hidden {
    display: none !important;
}

.alert {
    color: $system-alert;
}

.capitalized {
    text-transform: uppercase;
}

//scroll bar in webkit based browsers
::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: $white;
}
::-webkit-scrollbar-thumb {
    background-color: $scrollbar-workspace;
    border-radius: 10px;
    border: 2.5px solid $white;
}
::-webkit-scrollbar-thumb:hover {
    background-color: $text-medium;
}

.wrapper {
    display: flex;
    height: 100vh;
    padding-top: $height-subheader;
    align-items: stretch;
    overflow: hidden;
}

//subheader
.subheader {
    display: flex;
    width: 100%;
    height: $height-subheader;
    line-height: $height-subheader;
    padding-right: 15px;
    padding-left: 15px;
    background-color: $white;
    box-shadow: $shadow-apply-segments-bar;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    &-title {
        font-size: 16px;
        font-weight: 600;
        color: $text-darkest;
        margin-right: auto;
    }
    &-domain-label {
        font-size: 13px;
        font-weight: 600;
    }
    &-domain-wrapper {
        display: flex;
        justify-content: space-between;
        .not-editable-input {
            width: 80px;
            color: $text-dark;
            margin-left: 0;
        }
    }
    #domainSelect {
        font-size: 13px;
    }
    &-calendar {
        font-size: 12px;
        color: $text-medium;
        &:before {
            content: "|";
            font-size: 20px;
            color: $text-light;
            margin: 0 15px;
        }
    }
}

//main
.aside {
    color: $white;
    height: 100%;
    flex: 0 0 260px;
    position: relative;
    transition: all 200ms ease-out;
    ::-webkit-scrollbar-track {
        background-color: $bg-search-aside;
    }
    ::-webkit-scrollbar-thumb {
        border: 2.5px solid $bg-search-aside;
    }

    &-wrapper{
        width: 260px;
        height: 100%;
        background-color: $bg-search-aside;
        position: absolute;
        top: 0;
        right: 0;
    }

    &-container {
        height: calc(100% - #{$aside-header-height});
        padding: 0 10px 12px 15px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &-container-header {
        display: flex;
        height: $aside-header-height;
        padding: 12px 20px 0 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-container-title {
        font-size: 15px;
        font-weight: 600;
        margin: 0;
    }

    &-container-search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        &,
        &:hover,
        &:focus {
            margin: 20px 0;
            background-color: $bg-search-aside-contrast;
            border: 1px solid $text-dark;
            outline: none;
        }
        .magnifying-glass {
            font-size: 16px;
            color: $white;
        }
    }

    &-search {
        font-family: inherit;
        font-size: 13px;
        color: $white;
        background-color: transparent;
        border: none;
        &::placeholder {
            color: $white;
            font-style: italic;
        }
    }

    .ui-helper-clearfix:before,
    .ui-helper-clearfix:after {
        content: none;
    }

    .filter-content,
    .is-toggle-btn,
    .location-select,
    .filter-input,
    .trash,
    .ui-widget-content .condition-type,
    .filter-note,
    .and-then-btn{
        display: none;
    }

    [data-title]:not(.ui-draggable-dragging) {
        margin-top: 50px;
        position: relative;
        &:first-child {
            margin-top: 40px;
        }
        &:before {
            content: attr(data-title);
            display: block;
            text-align: left;
            color: $white;
            width: 260px;
            height: 31px;
            line-height: 31px;
            padding-left: 15px;
            background-color: $bg-search-aside-contrast;
            position: absolute;
            top: -40px;
            left: -15px;
            cursor: default;
        }
        &:after {
            content: "`";
            font-family: "ctIcon";
            font-size: 22px;
            color: $white;
            position: absolute;
            top: -40px;
            right: 0;
            cursor: pointer;
        }
    }
}

.main {
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    flex: 1 1;
    overflow-y: auto;
    .level-title {
        font-size: 14px;
        font-weight: 700;
        padding: 0;
    }
    .level-subtitle {
        font-size: 11px;
        margin-bottom: 10px;
    }
}

.search-area.multilevel {
    padding: 20px;
    border: 1px solid $border-color;
}

.level-visit {
    position: relative;
    #removeVisitLevel {
        position: absolute;
        top: 0;
        right: 3px;
    }
}

.level-pageview {
    &.inside-visit-level {
        padding: 20px;
        background-color: #e1e7ec;
        border: 1px solid $text-light;
        border-radius: 2px;
    }
}

.level-group {
    margin-bottom: 10px;
    padding: 20px;
    border-top: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 3px solid $text-dark;
    border-radius: 9px;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
}

.level-empty {
    margin-bottom: 10px;
}

.add-level {
    margin-left: 15px;
    float: right;
}

.ui-droppable {
    display: flex;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: $text-light;
    min-height: 75px;
    border: 2px dashed $text-light;
    justify-content: center;
    align-items: center;
}

.empty {
    padding: 0;
}

.ui-widget-content {
    min-width: 170px;
    min-height: 40px;
    background-color: $white;
    border-radius: $dd-border-radius;
    box-shadow: $shadow-pageset-box;
    list-style: none;
    &:hover {
        background-color: $white;
        box-shadow: $box-shadow;
    }
    &:not(.ui-draggable-dragging) {
        margin-bottom: 10px;
    }
    .filter-name {
        font-size: 14px;
        font-weight: 600;
        height: 34px;
        line-height: 34px;
        margin: 0;
        padding: 0 15px;
        border-bottom: 1px solid $silver-border;
    }
    .filter-content {
        font-size: 11px;
        min-height: 34px;
        padding: 10px 15px;
        .trash {
            margin-left: 10px;
        }
    }
    .aside & {
        color: $white;
        background-color: $bg-search-filter;
        border: none;
        border-radius: $input-border-radius;
        box-shadow: -1px 1px 1px 0 rgba(40, 52, 77, 0.56), inset 0 1px 0 0 rgba(255, 255, 255, 0.22);
        cursor: move;
        &:hover {
            background-color: $bg-search-filter-hover;
            box-shadow: -1px 1px 3px 0 rgba(40, 52, 77, 0.8), inset 0 1px 0 0 rgba(255, 255, 255, 0.22);
        }
        .filter-name {
            font-size: 12px;
            font-weight: 400;
            line-height: 40px;
            border-bottom: none;
        }
    }
    .condition-type {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 10px;
        vertical-align: middle;
    }
}

.filter-name {
    line-height: normal;
    margin: 0;
}

.filter-content {
    display: flex;
    align-items: center;
}

.filter-input,
.location-select,
.condition-type {
    font-family: "Open Sans", sans-serif;
    width: 200px;
    height: 31px;
    line-height: 31px;
    margin-left: 10px;
    padding: 0 10px;
    border: 1px solid $border-color;
    border-radius: $input-border-radius;
    &::placeholder {
        color: $text-light;
        font-style: italic;
    }
    &:focus {
        border-color: $input-focus;
        outline: none;
    }
    &:hover {
        border-color: $input-hover;
    }
}

.filter-input {
    &:not(.subheader-domain-wrapper) {
        flex: 1 1;
    }
    .numeric-filter & {
        flex: 0 0;
    }
}

.location-select {
    display: inline-block;
}

.condition-type-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.condition-type {
    width: auto;
    flex: 0 0;
}

.condition {
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
    width: 50px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin-bottom: 10px;
    border: 1px solid $border-color;
    border-radius: $input-border-radius;
    &::placeholder {
        color: $text-light;
        font-style: italic;
    }
    &:focus {
        border-color: $input-focus;
        outline: none;
    }
    &:hover {
        border-color: $input-hover;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -5px;
        height: 180px;
        width: 30px;
        border-left: 1px dashed #ddd;
    }
    .sequence-filter & {
        width: 80px;
        margin-left: 13px;
        margin-bottom: 0;
    }
}

.condition-include {
    color: $text-darkest;
    font-size: 11px;
    width: auto;
    background-color: transparent;
;
    border: none;
}

.is-toggle-btn {
    @include resetBtn;
    text-align: center;
    font-size: 10px;
    width: 30px;
    height: 15px;
    line-height: 13px;
    background-image: linear-gradient(to top, $silver-gradient-start, $white);
    border: 1px solid $silver-border;
    border-radius: 2px;
    flex: 0 0 30px;
    cursor: pointer;
    &:hover {
        background-image: linear-gradient(to top, $silver-gradient-hover, $silver-gradient-start);
    }
    &.alert {
        color: $system-alert;
    }
}

.visit-condition-select {
    width: auto;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    border: 1px solid $border-color;
    border-radius: $input-border-radius;
    &:focus {
        border-color: $input-focus;
        outline: none;
    }
    &:hover {
        border-color: $input-hover;
    }
}

.js-errors-text,
.js-errors-count {
    &:not(.hidden) {
        display: flex;
        flex: 1 1;
        align-items: center;
    }
}

.numeric-filter-line {
    width: 40px;
    margin-left: 15px;
    border-top: 1px solid $text-dark;
}

.not-editable-input {
    font-family: $font-family;
    width: 35px;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    cursor: default;
}

.btn {
    &-wrapper {
        display: flex;
        width: 100%;
        margin: 10px auto 0 auto;
        flex-direction: column;
    }
    &-search {
        align-self: center;
        margin-left: 0;
        margin-top: 20px;
    }
    &-add-group {
        align-self: flex-start;
    }
}

.ui-state-highlight {
    color: $drag-drop;
    background-color: transparent;
    border: 2px dashed $drag-drop;
}

.filter-note {
    color: $text-medium;
    margin-bottom: 10px;
    margin-left: 15px;
}

.and-then-btn {
    margin-left: 15px;
    margin-bottom: 10px;
}

.pencil {
    font-size: 16px;
    color: $text-medium;
    &:hover {
        color: $text-dark;
    }
}

.pages-filter-default,
.pages-filter-attribute,
.sequence-event,
.sequence-element,
.sequence-text {
    display: flex;
    flex: 1 1;
}
